.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.droppable {
  position: absolute;
  width: 150px;
  height: 75vh;
  right: 0;
  top: 41vh;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.draggable {
  width: 100px;
  height: 100px;
  background-image: "url(https://www.iconfinder.com/icons/211677/image_icon)";
  margin: 5px auto;
  line-height: 5em;
  background-color: #9E9E9E;
}

.wip {
  float: left; 
  display: inline; 
  width: 49%;  
  height: 50vh;
  right: 0;
  top: 50vh;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}
.wip2 {
  float: left; 
  display: inline; 
  width: 49%;  
  height: 50vh;
  right: 0;
  top: 50vh;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}
